@font-face{font-family:"helveticaneuereg";src:local('helveticaneuereg'),url("/assets/fonts/ArbFONTS-hanimation-regular.ttf") format("woff");font-weight:400;font-style:normal;font-display: swap;}
@font-face{font-family:"helveticaneuereg";src:local('helveticaneuereg'),url("/assets/fonts/hanimation-Bold.ttf") format("woff");font-weight:700;font-style:normal;font-display: swap;}

body{
	background: #ebecf1;
	font-family: 'helveticaneuereg'
}
/*---- header css ----*/
header.header {
    background: #fff;
    padding: 15px 0;
}
a{
	text-decoration: none!important;
}

.d-flex{
	display: flex!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
section.menu-nav {
    margin-top: 20px;
}
.menu-tags {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    height: 55px;
}
.menu-tags::-webkit-scrollbar {
    display: none;
}

.menu-tags ul {
    margin: 0;
    display: flex;
    -webkit-padding-start: 0px;
}
.menu-tags li {
    display: inline-table;
} 
a.item-tag {
    background: #fff;
    border-radius: 10px;
    margin-left: 15px;
    padding: 5px 15px;
    display: block;
    box-shadow: 0 1px 8px rgb(0 0 0 / 9%);
    color: #2c2c2c;
}
li.show a.item-tag {
    color: #007bff;
    font-weight: bold;
}
a.item-tag.active {
	color: #7b00c4;
	font-weight: bold;
}
a.hdbtn {
    border: none!important;
    padding: 1px 17px 4px;
    font-size: 13px!important;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    margin-top: 3px;
}
.hd-icon {
    width: 17px;
    height: 20px;
    margin-left: 6px;
}

/*--- article ---*/

article.article {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 9%);
    margin-left: 15px;
    width: 100%;
    position: relative;
}
img.article-image {
    margin: 10px;
    border-radius: 10px;
    width: 235px;
    height: 107px;
}
.artic:first-child article.article img.article-image {
    height: 246px;
}
.home .artic:first-child article.article img.article-image {
    width: calc(100% - 25px);
}
h2.article-title {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bold;
    height: 88px
}
.artic:first-child article.article  h2.article-title{
    padding: 20px 0px 0px 15px;
}
.article-discription {
    font-size: .9rem;
    color: gray;
    display: none;
}
.artic:first-child article.article {
	display: flex;
    position: relative;
}
.artic:first-child article.article a{
    width: 40%;
}
.post .artic:first-child article.article {
	display: block;
	text-align: center;
}
.artic:first-child article.article .article-discription {
	height: 110px;
	display: block;
}
.post .artic:first-child article.article .article-discription {
    height: auto;
}
.artic:first-child article.article h2.article-title, .artic:first-child article.article .article-discription {
}
.artic:first-child article.article a.share-btn {
    width: 25px;
}
.artic:first-child article.article .meta-info {
    width: calc(100% - 196px);
}
.meta-admin {
    margin-right: 10px;
}
.artic:first-child article.article .meta-admin {
	margin-right: 0px;
}
.post .artic:first-child article.article .meta-admin {
	margin:0 auto;
}
img.admin-image {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}
span.admin-name {
    display: block;
    font-size: .8rem;
    font-weight: bold;
}
time.publish-date {
    font-size: .8rem;
    color: gray;
}
a.share-btn {
    position: absolute;
    bottom: 0px;
    left: 10px;
}
a.share-btn svg {
    width: 25px;
}
.load-more {
    margin-top: 45px;
    text-align: center;
}

.load-more a {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 9%);
    margin-left: 15px;
    width: 100%;
    padding: 8px 15px;
}
.load-more .pagination li.active a{
    background: #007bff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.post .meta-admin {
    width: 130px;
    margin: 0px auto;
    padding-top: 25px;
}
.post .artic:first-child article.article h2.article-title {
    padding: 35px 0px;
    text-align: center;
}
.post .artic:first-child article.article img.article-image {
    width: 93%;
    height: 400px;
    
}
.search .artic:first-child article.article{
    display: block;
}
.search .artic:first-child article.article .article-discription{
    display: none;
}
.search .artic:first-child article.article h2.article-title{
    padding-right: 10px;
    padding-left:10px;
}
.search .artic:first-child article.article .meta-admin{
    margin-right: 10px
}
.search .artic:first-child article.article img.article-image{
    height: 107px
}
.post .article-discription {
    font-size: 1.1rem;
    color: black;
    padding: 20px;
}

.dropdown-menu.show {
    top: 29px!important;
}
.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 230px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #e94319;
    margin: 10px;
    transition: .5s;
}
.article-discription a {
    position: relative;
    border-radius: 50px;
    height: 90px;
    display: block;
    color: #000;
    width: 50%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
    padding-right: 70px;
}
.post .artic:first-child article.article a {
    width: 83%;
    background: url(../img/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;
}
.search .artic:first-child article.article .meta-info {
    width: calc(100% - 6px);
}
.post .artic:first-child article.article .meta-info {
    width: 100%
}
@media (max-width: 576px){
	
	img.article-image {
    margin: 10px;
    border-radius: 10px;
    width: 34%;
    height: 120px;
    float: right;
}
h2.article-title {
    font-size: 1rem;
    }
    .artic:first-child article.article .article-discription {
    height: 103px;
    display: block;
    overflow: hidden;
}
}
@media (min-width: 576px){
	.artic:first-child article.article img.article-image {
	}
    .search .artic:first-child article.article img.article-image{
        width: calc(100% - 20px)!important;
    }
	.post .artic:first-child article.article img.article-image {
    width: 90%!important;
	}
	img.article-image {
    width: calc(100% - 20px)!important;
	}
	h2.article-title {
    font-size: 1rem!important;
	}
}

footer.footer {
    background: #c7c7c7;
    padding: 25px;
    margin-top: 60px;
}
.social-share{
    padding: 20px;
    margin-top: 30px;
}
.social-share a {
    padding-right: 20px;
}
.w-25p {
    width: 25px;
    height: 25px
}
/*---- related article -----*/
h3.text-center.related-t {
    font-size: 1.2rem;
    margin: 30px;
    font-weight: 600;
}
@media (max-width: 576px){
    .hdbtn span{
        display: none;
    }
}

.search_res {
    border-top: 2px solid #ff6161;
    font-size: 14px;
    line-height: 1;
    background: #fff;
    color: #607D8B;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin-bottom: 40px!important;
}
.search_res p {
    margin: 0;
    padding: 10px 0;
}
.search_res span {
    color: #ff6161;
    font-weight: bold;
}

/*--- footer -----*/



/* Main Footer */
footer .main-footer{ margin-top: 30px;    padding: 20px 0;    background: #252525;}
footer ul{  padding-left: 0;    list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222;   padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none;   margin: 0;  padding: 0;}
.footer-copyright nav ul li {   border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child {   border: medium none;    padding-left: 0;}
.footer-copyright p {   color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{    background: #252525;    padding-bottom: 30px;   margin-bottom: 30px;    border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{    background: transparent;}
footer.transparent .footer-copyright{   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{   background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
    Widgets 
====================== */
.widget{    padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{    margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{    margin-bottom: 18px;}
.widget li a{   color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right;   background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0;   width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

.alert.alert-dark {
    background-color: #181C32;
    border-color: #181C32;
    color: #ffffff;
}
.header-buttons {
    border-radius: 50%;
    margin: 4px 15px;
    padding: 7px;
    vertical-align: inherit;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    width: 40px;
}
.header-buttons:active, .search-button:active {
    background-color: rgba(60,64,67,.12);
    outline: none;
    }
.header-buttons .light {
    display: none;
}
/* dark mode */

body.dark-mode, .dark-mode header.header , .dark-mode .comment {
    background-color: #212121;
    border-bottom: 1px solid #5f6368;
}
.dark-mode a.item-tag {
    background: rgb(140 140 140 / 15%);
    color: #fff
}
.dark-mode a.item-tag:hover {
color: #656fff;
}
.dark-mode .dropdown-item:focus, .dark-mode .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(140 140 140 / 15%);
}
.dark-mode article.article, .dark-mode .dropdown-menu.show{
    background-color: #232424;
}
.dark-mode .dropdown-menu.show, .dark-mode .comment{
    border: 1px solid #5f6368;
}

.dark-mode .dropdown-item, .dark-mode span.admin-name, .dark-mode .article-discription p, .dark-mode .top-nav a,.dark-mode .fcorps, .dark-mode .text-center.related-t, .dark-mode h2.article-title a{
    color: #fff;

}
.dark-mode .form-control{
    border: 1px solid #5f6368;
    color: #EEEEEE;
    background: transparent;
}
.dark-mode .form-control:focus{
    border-color: transparent;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 1px rgba(0,0,0,.14);
}
.dark-mode svg {
    fill: #fff;
}
.dark-mode h2.article-title{
    color: #fff;
    font-weight: 400;
}
.dark-mode .article-discription{
    color: #9aa0a6;
}
.dark-mode ul.list-group{
background-color: black;
}
